<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bitcoin Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="bitcoin$ ; else loading">
    <ion-row justify-content-center>
      <ion-col>
        <ion-img style="height: 160px;" src= '{{bitcoin$.image}}'></ion-img>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <div class="ion-text-center">
          <h1>BTC : {{bitcoin$.current_price}} USD</h1>
          <div *ngIf="bitcoin$.price_change_percentage_24h>0">
            <h3>The price is Up by {{bitcoin$.price_change_percentage_24h}}% in the last 24 Hours.</h3>
          </div>
          <div *ngIf="bitcoin$.price_change_percentage_24h <= 0">
            <h3>The price is Down by {{bitcoin$.price_change_percentage_24h}}% in the last 24 Hours.</h3>
          </div>
          <div>
            <h3> The current circulating supply is {{bitcoin$.circulating_supply}} coin.</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


  

  <div justify-content-center>
    <ng-template #loading>
      <h2>Loading....</h2>
    </ng-template>
  </div>
</ion-content>